@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 400;
  src: local('Tinos'), url(http://themes.googleusercontent.com/static/fonts/tinos/v5/C8vzv480UKDveCPk8l9XHQ.woff) format('woff');
}
